# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# JetBrains and Notebooks and more
.idea/
.ipynb_checkpoints/
Notebooks/
*.ipynb

# Other Dev Stuff
Testing/
**/dev/
**/example/

# Serialized Data used for testing
*.pickle
*.p
*.json

# Configuration files
*.yaml
